<!DOCTYPE html>
<html>
<head>
  <title>Welcome to My Rails Application</title>
  <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
  <div class="container">
    <h1>Welcome to My Rails Application!</h1>
    <p>This is the home page of my application.</p>
    <p>The current time is: <%= Time.now %></p>
    
    <div class="about-me">
      <h2>About Me</h2>
      <p>Hi, I'm Lakshmi Narayanan. I'm currently working as a DevOps Engineer.</p>
      <div class="skills">
        <h3>Skills</h3>
        <ul>
          <li>Git</li>
          <li>Github</li>
          <li>Docker</li>
          <li>Kubernetes</li>
          <li>Ansible</li>
          <li>Jenkins</li>
          <li>Gitlab</li>
          <li>Terraform</li>
          <li>AWS</li>
          <li>Shell Scripting</li>
        </ul>
      </div>
    </div>
  </div>
</body>
</html>

